.divMain{
    display: flex;
    flex-wrap: wrap;
    background: #eff1ff;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-family: Calibri;
    height: 200px;
}
.div{
    width: 50%;
    color: #3aa9bb;
}