.divInfo{
    background: #eff1ff;
    border: 3.5px solid olivedrab;
    border-radius: 5px;
    width: 100%;
}
.divMain{
    background: #eff1ff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 3px solid olivedrab;
    border-radius: 5px;
}
.divCom{
    width: 24.25%;
    border: 1px solid cadetblue;
}